{% extends 'stc/base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div classs="container">
	<div class="card col-md-5 mx-auto mt-4 shadow-lg">
		<h3 class="bg-secondary text-light p-2 text-center mt-3">Change Password</h3>
		<form method="POST">
			{% csrf_token %}
			<table class="table table-borderless">
				{% for j in c %}
				<tr>
					<td>{{j}}</td>
				</tr>
				{% endfor %}
			</table>
			<div class="row mt-1">
				<div class="col">
					<a href="{% url 'hm' %}" class="col-sm btn btn-warning mb-3">Back</a>
				</div>
				<div class="col">
					<input type="submit" value="Update" class="col-sm form-control btn btn-success btn btn-block mb-3">
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}