{% extends 'stc/base.html' %}
{% block title %}Reset Password Confirm{% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-6 mx-auto mt-4 shadow-lg">
		<h3 class="bg-info text-white text-center mt-3 p-2 border rounded">Reset Password Confirm</h3>
		<div class="card-body">
			<form method="post">
				{% csrf_token %}
				<input type="password" name="new_password1" class="form-control my-2" placeholder="Enter New Password">
				<input type="password" name="new_password2" class="form-control my-2" placeholder="Enter New Password">
				<input type="submit" value="Reset Password" class="form-control my-2 btn btn-success btn-block">
			</form>
		</div>
	</div>
</div>
{% endblock %}