{% extends 'stc/base.html' %}
{% block title %}register{% endblock %}
{% block content %}
<style type="text/css">
	.errorlist 
	{
		list-style-type: none;
		/*color:red;*/
		font-size: 20px;
		margin:1;
		padding:2;
	}
</style>
<div class="container">
	<div class="card col-md-6 mx-auto mt-4 shadow-lg">
		<h3 class="bg-warning text-dark text-center p-2 border rounded mt-3">Registration</h3>
		<div class="card-body">
			<form method="POST" novalidate>
				{% csrf_token %}

{% if messages %}
	{% for m in messages %}
		<span class="text text-{{m.tags}}">{{m}}</span>
	{% endfor %}
{% endif %}


				<table class="table table-borderless">
					{% for k in u %}
					<tr>
						<td>
							{{k}}
						</td>
					</tr>
					{% endfor %}
				</table>


			<div class="row">
					<div class="col">
						<a href="{% url 'log' %}" class="form-control btn btn-info col-sm" >Existing user</a>	
					</div>
					<div class="col">
						<input type="submit" class="form-control btn btn-success col-sm" name="subscribe">
					</div>	
			</div>	
			</form>
		</div>
	</div>
</div>

{% endblock %}


<!-- 
{% for fe in u.non_field.errors %}
<span class="text-danger">{{fe}}</span>
{% endfor %}
{% for f in u %}
<div>
	{{f.label_tag}}
	{{f}}
	{% if f.help_text %}
	<span class="text-warning">{{f.help_text}}</span>
	{% endif %}
	{% for e in f.errors %}
	<span class="text-danger">{{e}}</span>
	{% endfor %}
</div>
{% endfor %} -->



<!-- {% for f in u %}
<div>
	 {{f.label_tag}}
	{{f}}
	{% if f.help_text %}
	<span class="text-warning">{{f.help_text}}</span>
	{% endif %}
	 {% for e in f.errors %}
	<span class="text-danger">{{e}}</span>
	{% endfor %} 
</div>
{% endfor %} -->