{% extends 'html/base.html' %}
{% block title %}Delete Notes {% endblock %}
{% block content %}
<div class="container">
	<div class="card mt-3 mx-auto col-md-6 shadow-lg">
		<div class="card-body">
			<form method="post">
				{% csrf_token %}
			<h2 class="bg-primary text-white text-center p-2 border rounded">Delete Notes</h2>
			<h3>Are you sure you want to delete {{t.title}} Notes?</h3>
			<input type="submit" class="btn btn-success" value="Yes Confirm">
			<a href="{% url 'ntv' %}" class="btn btn-danger">Cancel</a>
		</form>
		</div>
	</div>
</div>
{% endblock %}