{% extends 'html/base.html' %}
{% block title %} Notes {% endblock %}
{% load static %}
{% block content %}
<div class="container-fluid mt-3">
	{% if messages %}
	{% for j in messages %}
	<div class="alert alert-{{j.tags}} alert-dismissible mt-2">
  		<button type="button" class="close m-2" data-dismiss="alert">&times;</button>
  		<img src="{% static 'images/usrgd.jpg' %}" class="rounded-circle" height="40px" width="50px"/>  {{j}}
	</div>
	{% endfor %}
	{% endif %}
	<div class="row">
		<div class="card col-md mx-2">
		<div class="card-body">
			<h2>Notes <a href="{% url 'crn' %}" class="btn btn-primary float-right m-2">Add Notes</a></h2>
			<table class="table table-borderless" id="table_id">
				<tr class="bg-dark text-white border rounded">
					<th>sno</th>
					<th>Title</th>
					<!-- <th>Date</th> -->
					<th>File</th>
					<th colspan="2">Actions</th>
				</tr>
				{% for n in mn %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{n.title}}</td>
					<!-- <td>{{n.date}}</td> -->
					<td>{{n.fil}}</td>
					<td><a href="{% url 'upnt' n.id %}" class="btn btn-info mx-2">Edit</a><a href="{% url 'delt' n.id %}" class="btn btn-danger mx-2">Delete</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<div class="card col-md mx-2">
		<div class="card-body mt-2">
			<h3 class="m-2">All Notes</h3>
			<table class="table table-borderless">
				<tr class="bg-primary text-white border rounded">
					<th>Sno</th>
					<th>Title</th>
					<th>Created At</th>
					<th>User</th>
					<th colspan="2">Actions</th>
				</tr>
				{% for m in al %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{m.title}}</td>
					<td>{{m.date}}</td>
					<td>{{m.created_by}}</td>
					<td><a href="" class="btn btn-success mx-1">Request</a><a href="" class="btn btn-danger mx-1">Cancel</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	</div>
	
</div>
{% endblock %}